@font-face {
    font-family: Fira Sans;
    src: url(/Fira_Sans/FiraSans-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Fira Sans;
    src: url(/Fira_Sans/FiraSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Fira Sans;
    src: url(/Fira_Sans/FiraSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Fira Sans;
    src: url(/Fira_Sans/FiraSans-Black.ttf);
    font-weight: 900;
}
*{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Fira Sans, sans-serif;
  }
a:link, a:visited { 
    text-decoration: none;
    color: #FFF;
  }
  a:hover{
    color: #a4f479;
  }
.body__index{
    background-image: url(/img/home-hero.jpg);
    background-size: 100% 1500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.index__navbar{
    background-color: rgba(7, 14, 88, 0.7);
    margin: 15px 33% 15px 33%;
    padding: 20px 45px 20px 45px;
    font-weight: 500;
    font-size: 20px;
    color: #FFF;
}
.index__navbar--list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ampedFestival__logo--index{
    width: 34%;
    height: 34%;
    margin: 7vh 33% 15px 33%;
}
.ampedFestival__slogan{
    color: #FFF;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    margin: 15px 15% 15px 15%;
}
.index__footer{
    margin: 50px 33% 15px 33%;
    font-weight: 500;
    color: #FFF;
}
.index__footer--list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 17px;
}
.index__footer--credits{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}
#header{
    background-image: url(/img/amped_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header__navbar{
    background-color: rgba(7, 14, 88, 0.7);
    margin: 0 33% 0 33%;
    padding: 10px 45px 20px 45px;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
}
.ampedFestival__logo--header{
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}
.tickets__navbar--list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header__navbar--list,
.header__navbar--list:link,
.header__navbar--list:visited {
    /* seleccionamos todas las opciones para que aparezca siempre en verde */
    color: #a4f479; 
    position: relative;
}
.header__navbar--list::after {
    /* indica el contenido del pseudoelemento */
    content: "";
    position: absolute;
    /* Alinea el subrayado desde el borde izquierdo */
    left: 0;
    /* espacio entre el texto y la linea */
    bottom: -5px;
    width: 100%;
    /* grosor de la linea */
    height: 1px;
    background-color: #a4f479;
}
#main{
    margin-left: 20%;
    margin-right: 20%;
}



#footer{
    color: rgb(255,255,255);
    background-color: #070e58;
    font-weight: 300;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px;
    box-sizing: border-box;
}
.footer__list{
    font-size: 18px;
    display: flex;
    gap: 20px;
}
.footer__credits{
    font-size: 12px;
    padding: 10px 0 10px 0;
}